body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('../img/mainBg.png');
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.body-content {
  height: 100%;
}

.blue {
  color: #152035;
}

.yellow {
  color: #FDB900;
}

.grey {
  color: #505050;
}

.text-primary {
  font-family: Roboto;
  font-weight: 600;
  font-size: 32px;
  color: #152035;
}

.bar-text {
  margin-left: 25px;
  height: 75%;
  display: inline-block;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.bar-text:hover{
  border-bottom: solid 5px #FDB900;
  transition: border-bottom ease-in 0.1s;
}

.active {
  border-bottom: solid 5px #FDB900;
}


.bar {
  z-index: 10;
  height: 50px;
  box-shadow: 1px 1px 12px 1px #22222247;
  position: absolute;
  width: 100%;
  background-color: white;
  padding: 10px 0 10px 0;
  display: flex;
  justify-content: flex-start;
  z-index: 200;
  position: fixed;
  transition:top ease-in 0.1s;
}

.bar.main {
  background-color: initial;
  box-shadow: initial;
}

.bar.main .logo {
  visibility: hidden;
}

.bar.main .bar-text {
  color: white;
}

.bar-items {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo-container {
  padding-top: 5px;
  margin-right: 7%;
  position: absolute;
}

.logo {
  display: inline-block;
  height: 3vw;
  width: 12.9vw;
  background: url(../logo.svg) no-repeat;
  background-size: cover;
  margin-left: 50px;
}


.big-logo-content {
  border-bottom: solid 20px white;
  height: 15vw;
  width: 72vw;
  z-index: 1;
}

.big-logo {
background: url(../img/logoBig.svg) no-repeat;
background-size: cover;
height: 100%;
width: 100%;
}

.big-logo-content-description {
  font-family: Impact;
  font-size: 4.5vw;
  color: #FDB900;
  text-align: center;
  width: 100%;
}

.section-header {
width: 100%;
text-align: center;
}

.section-header span {
font-size: 70px;
}

section {
padding: 10px 80px;
outline: none;
}

section .wrapper {
display: flex;
padding: 40px 10px;
}

section .content {
width: 100%;
margin-right: 150px;
}

section .content .header {
padding-left: 10px;
border-left: #FDB900 solid 5px;
}


section .content .header h1, h2 {
font-size: 50px !important;
margin: 0;
}

section .content .header h1 {
color: #FDB900;
}

section .content .header h2 {
text-transform: uppercase;
}

section .image {

}

section p {
font-family: "Roboto Light";
font-size: 20px;
}

#about {
background-size: cover;
height: 75%;
width: 90%;
box-shadow: 1px 1px 15px 4px #00000038;
}

.stanok img {
width: 100%;
}

.stanok{
height: 45%;
width: 100%;
background: url("../img/freza.png") no-repeat;
margin-bottom: 20px;
}

.stanok .text-content {
position: absolute;
transform: skew(20deg);
background: #FDB900;
padding: 8% 3%;
width: 32em;
margin-left: 8%;
margin-top: -15px;
}

#stanok {
height: 55%;
width: 27vw;
position: absolute;
right: 10px;
margin-top: -40px;
}

.stanok .text {
transform: skew(-20deg);
width: 100%;
}

.service-bar {
display: flex;
justify-content: space-around;
box-shadow: 0px 0px 23px 5px #0000001f;
width: 95%;
margin: auto;
padding-top: 25px;
padding-bottom: 45px;
}

.s-item {
border-right: solid 1px #70707094;
width: 20%;
display: flex;
flex-direction: column;
align-items: center;
}

.s-item img {
margin-bottom: 20px;
width: 80%;
height: 69%;
}

.s-item.last{
padding-right: 10px;
border: none;
}

.service-bar .header {
font-family: Roboto;
font-weight: 600;
color: #FDB900;
text-align: center;
font-size: 26px;
}

.service-bar .description {
font-family: Roboto;
font-weight: 400;
text-align: center;
font-size: 20px;
color: #505050;
}

#milling-machine img {
width: 90%;
height: 69%;
}

#tools img {
width: 70%;
height: 69%;
color: #152035;
}


table {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
box-shadow: 0px 0px 23px 5px #0000001f;
width: 95%;
margin: auto;
margin-top: 50px;
}

table td, table th {
border: 1px solid #ddd;
padding: 8px;
text-align: center;
font-size: 25px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
font-family: Roboto;
padding-top: 12px;
padding-bottom: 12px;
background-color: #FDB900;
color: white;
font-size: 25px;
}

table .description{
font-family: "Roboto Light";
font-size: 20px;
padding: 40px;
width: 95%;
}


#contacts .contacts{
width: 50vw;
height: 500px;
}

#map {
width: 40vw;
height: 500px;
padding: 0;
margin: 0;
}

#contacts .wrapper .contacts{
display: flex;
justify-items: center;
flex-direction: column;
justify-content: center;
}

#contacts .wrapper{
display: flex;
justify-content: center;
}

.c-item{
display: flex;
margin: 20px;
align-items: center;
}

.c-item .text{
display: flex;
justify-content: center;
flex-direction: column;
text-decoration: none;
padding-left: 50px;

}
.c-item .text a{
text-decoration: none;
font-size: 20px;
cursor: pointer;
}

.c-item .text a:hover{
color: #FDB900;
}

.icon{
height: 50px;
width: 80px;
background-repeat: no-repeat !important;
}

#call .icon{
background: url("../img/phone-call.svg");
}

#mail .icon{
background: url("../img/mail.svg");
}

#mark .icon{
background: url("../img/mark.svg");
}

footer{
background-color: #152035;
}

.text-25{
font-size: 28px;
}

footer h1.text-primary{
color: white;
text-align: center;
font-size: 30px ;
margin: 0;
}

footer h2.text-primary{
color: white;
text-align: center;
font-size: 25px !important;
}

#repair .description{
font-family: Roboto;
font-size: 1em;
padding: 30px;
}

.show-more{
padding: 5px;
width: 3.5em;
margin: auto;
text-align: center;
font-family: roboto;
font-size: 15px;
margin-top: 15px;
border-radius: 100px;
box-shadow: 0px 2px 5px 0px #6d6d6d;
cursor: pointer;
}

.show-more:hover{
color: #FDB900;
}

#schema{
display: none;
z-index: 100;
width: 600px;
height: 500px;
position: absolute;
background: url('../img/shema.svg') no-repeat;
background-size: cover;
background-color: white;
}

#btn-schema-container{
position: absolute;
margin-top: 10px;
margin-left: 10px;
z-index: 500;
}

#btn-schema-container div{
display: inline-block;
font-family: Roboto;
border-radius: 0.3em;
background-color: white;
padding: 2px 10px;
box-shadow: 0px 2px 4px 0px #6d6d6d6e;
cursor: pointer;
}

#btn-schema-container div.active-btn{
background-color: #FDB900;
color: white;
}

.filter {
height: 100%;
width: 100%;
background-color: #12121299;
}

.main-title{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;
}


#menu-icon{
  background: url('../img/menu.svg') no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  display: none;
}

#full-screen-bg{
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
}

#close{
  background: url('../img/cancel.svg') no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

@media screen and (max-width: 600px)  and (min-width: 600px){

}

@media screen and (max-width: 750px) {

  #contacts .contacts {
     width: initial;
     height: initial;
  }

  section{
    padding: 10px 10px;
  }

  section div{
  }
  .wrapper{
    flex-direction: column;
  }

  #map{
    width: 100%;
    height: 400px;
  }

  .text-primary{
    font-size: 20px;
  }

  #schema{
    width: 90%;
    height: 400px;
    background-position-y: 35px;
  }

  #btn-schema-container{
    margin-top: 5px;
  }

  #btn-schema-container div {
    padding: 5px 40px;
  }

  section .content .header h1, h2 {
    font-size: 25px !important;
  }

  .service-bar{
    display: none;
  }

  .c-item .text{
    padding-left: 20px;
  }

  .section-header span {
    font-size: 50px;
  }

  table td, table th {
    font-size: 12px;
  }
  .stanok .text-content {
    transform: skew(0deg);
    width: 94%;
    margin-left: 0;
    margin-top: 35px;
  }

  .stanok .text-primary{
    font-size: 15px;
  }

  .stanok .text {
    transform: skew(0deg);
    width: 100%;
  }

  #stanok{
    display: none;
  }

  section p {
    font-size: 12px;
  }

  .big-logo-content {
    border-bottom: solid 1em white;
  }

  .parallax{
    height: 50%;
  }

  #navbar{
    display: none;
  }

  #navbar.main{
    display: block;
  }

  .bar-text {
    margin-left: 15px;
  }

}
